<div class="col-xs-12">
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-6">
          <label for="name">Name :</label>
          <input type="text" formControlName="name" name="name" class="form-control" />
          <span class="help-block" *ngIf="!serviceForm.get('name').valid && serviceForm.get('name').touched">Please Enter Name</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label for="photo">Photo</label>
          <input type="text" name="photo" formControlName="photo" class="form-control" />
          <span class="help-block" *ngIf="!serviceForm.get('photo').valid && serviceForm.get('photo').touched">Please Enter Name</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label for="address">Address</label>
          <input type="text" name="address" formControlName="address" class="form-control" />
          <span class="help-block" *ngIf="!serviceForm.get('address').valid && serviceForm.get('address').touched">Please Enter Name</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label for="contact">Contact</label>
          <input type="number" maxlength="10" name="contact" formControlName="contact" class="form-control" />
          <span class="help-block" *ngIf="!serviceForm.get('contact').valid && serviceForm.get('contact').touched">Please enter valid number</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <label for="state">State</label>
          <select class="form-control" formControlName="state" name="state">
            <option value="1">Maharashtra</option>
          </select>
        </div>
        <div class="col-xs-2">
          <label for="city">City</label>
          <select class="form-control" formControlName="city" name="city">
            <option value="1">Pune</option>
          </select>
        </div>
        <div class="col-xs-2">
          <label for="location">Location</label>
          <select class="form-control" formControlName="location" name="location">
            <option value="1">Viman nagar</option>
          </select>
        </div>
      </div>
      <div class="row" style="margin-top:10px">
        <div class="col-xs-6">
          <button type="submit" class="btn btn-success" name="button">Add Service</button>
        </div>
      </div>
  </form>
</div>
