<div class="row">
  <div class="col-xs-12">
  <ul class="list-group">
    <li *ngFor="let item of services; let i = index" class="list-group-item clearfix" >
      <div class="row">
        <div class="col-xs-8">
  				<h4 class="list-group-item-heading">{{item.name}}</h4>
  				<p class="list-group-item-text">{{item.address}}</p>
  			</div>
  			<div class="col-xs-4">
  				<img [src]="item.photo" alt="Photo" class="img-responsive" style="max-height: 50px">
  			</div>
        <div class="col-xs-12">
          <button class="btn btn-success" (click)="bookService(+i)">Book Service</button>
        </div>
      </div>
    </li>
  </ul>
  </div>
</div>
